<footer>
    <div class="footer-container">
        <div class="left-col">
            <div class="logo"></div>
            <h2 style="color: white;margin-bottom: 1cm;">CoursArea</h2>
            <p class="rights-text">Copyright © 2021 Created By Chaymae Mkassi, Khaoula Benyahia All Rights Reserved.</p>
            <p><img src="images/icon/location.png">Fès</p>
            <p><img src="images/icon/phone.png"> +212666666666<br></p>
            <p><img src="images/icon/mail.png">&nbsp;CourSArea@gmail.com</p>
        </div>
    </div>
</footer>